body{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    background-color: rgb(191, 189, 245);
    text-align: center;
}

#main-title{
    
    margin-bottom: 0px;
}

p{
    
    font-size: 12px;
}

.art-type{
    padding: 2% 5%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: white;
}

.art-type:hover{
   background-color: rgb(1, 12, 16);
   color: white;
    transition: 1s;
    cursor: pointer;
}

.art-example{
    width: 50%;
    margin-bottom: 100px;
}
.art-example:hover{
    transform: translate3d(-100%, 0, 0);
    width: 20%;
    height: auto;
    transition: 2s;
}